<div class="dashboard items-center content-center flex flex-col flex-nowrap justify-center p-[16px]" *ngIf="user">
  <h1 >Dashboard - {{ user.email }} has logged in</h1>

  <!-- <p>
    {{ user | json }}
  </p> -->

  <!-- Aqui veremos el mapa con los marcadores del usuario-->

  <div class="mt-4 flex max-w-full flex-col gap-5 rounded-lg bg-gray-50 p-5 shadow-lg">
    <app-mapas [ubicacion]="this.coordToGroup(this.lat, this.lon)" [mostrarBusqueda]="false"></app-mapas>
    
  <!-- Aqui veremos todas las imagenes las cuales como email tengan el email de inicio de sesion-->

  <div
  class="mt-4 flex max-w-full flex-col gap-5 rounded-lg bg-gray-50 p-5 shadow-lg"
>
  @if (marcadores["marcadores"].length > 0) {
    <ul class="w-full gap-5 space-y-4">
      @for (marcador of this.marcadores["marcadores"]; track marcador.email) {
        <li class="flex w-full cursor-pointer flex-col justify-between gap-5 rounded-lg bg-white p-4 shadow-lg transition-all duration-300 hover:-translate-y-1 hover:transform hover:bg-blue-50 hover:shadow-xl sm:flex-row">
          <div class="flex-grow cursor-pointer">
            <!--Aqui se mostraran los eventos, cada evento mostrara su organizador, fecha, lugar-->
            <h2 class="text-xl font-semibold text-gray-800">
              Marcador de : {{ marcador.email }}
            </h2>
            <h2 class="text-xl font-semibold text-gray-800">
              Lugar del marcador : {{ marcador.lugar }}
            </h2>
            <h2 class="text-xl font-semibold text-gray-800">
              Imagen del marcador : <img [src]="marcador.imagen" [alt]="marcador.lugar">
            </h2>
            
          </div>
        </li>
      }
    </ul>
  } @else {
    <h2 class="text-center text-gray-500">No se encontraron marcadores</h2>
  }
</div> 
  <!-- <app-mapas [ubicacion]="coordToGroup(lat, lon)" [mostrarBusqueda]="false"></app-mapas> -->

  <button class="fixed bottom-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="logOut()">LogOut</button>
  <button class="fixed right-4 top-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="toProfile()">Profile</button>
  <button class="fixed left-4 top-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="crearMarcador()">Crear Evento</button>
  <button class="fixed left-4 bottom-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="toLog()">Ver log</button>
</div>