<div class="dashboard items-center content-center flex flex-col flex-nowrap justify-center p-[16px]" *ngIf="user">
  <h1 >Dashboard - {{ user.name }} has logged in</h1>

  <!-- <p>
    {{ user | json }}
  </p> -->

  <h1>{{ user.name }}</h1>

  <img [src]="user.imagen" [alt]="user.name" />

  

  <button class="fixed bottom-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="logOut()">LogOut</button>
  <button class="fixed right-4 top-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="toProfile()">Profile</button>
  <button class="fixed left-4 top-4 rounded bg-blue-500 px-6 py-2 font-bold text-white shadow-lg hover:bg-blue-700" (click)="crearEvento()">Crear Evento</button>
</div>