.login-button {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 16px;
}

.google-icon {
  width: 20px;
  height: 20px;
  vertical-align: sub;
}
